  width: 106%;
  font-size: 25px;
  outline: none;
  height: 30px;
}

.btn button {
  box-shadow: 0px 0px 1px 0.01px black;
  font-size: 16px;
  margin: 10px;
  border: none;
  padding: 10px;
  transition: all 0.4s;
}

.btn button:hover {
  box-shadow: 0px 0px 5px 0.2px black;
}

.btn {
  position: relative;
  display: block;
  margin: auto;
  bottom: 80px;
}

.lang {
  font-size: 13px;
  position: relative;
  bottom: 70px;
}

.lang a {
  text-decoration: none;
  margin: 0px 5px;
  font-size: 13px;
}

.lang a:hover {
  text-decoration: underline;
}

.app img {
  width: 65px;
  height: 65px;
}

.app h5 {
  text-align: center;
  margin: 5px 0px;
}
